{% extends "base.html" %}
{% block title%} contact {%endblock %}
{% block head %} 
  <link rel="stylesheet" href="static/index1.css">
  <link rel="script" href="static/script.js">
{% endblock%}
{% block body%}
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="static/telephone.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <h2> Contact us </h2>
  <form method="POST" actin="/contact" class="row g-3 needs-validation" novalidate>
      {% csrf_token %}
    <div class="col-md-4">
      <label for="validationCustom02" class="form-label"> Name</label>
      <input type="text" class="form-control" id="name" name="name" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-4">
      <label for="validationCustomUsername" class="form-label">Gmail</label>
      <div class="input-group has-validation">
        <span class="input-group-text" id="inputGroupPrepend">@</span>
        <input type="text" class="form-control" name="email" id="email"
          aria-describedby="inputGroupPrepend" required>
        <div class="invalid-feedback">
          Please enter Eamil
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <label for="validationCustom01" class="form-label">Phone Number</label>
      <input type="text" class="form-control" id="phone" name="phone" required>
      <div class="invalid-feedback">
        Please provide a valid Phone Number
      </div>
    </div>
    <div class="col-md-4">
      <label for="validationCustom01" class="form-label">City Name</label>
      <input type="text" class="form-control" id="city" name="city" required>
      <div class="invalid-feedback">
        Please provide a valid city.
      </div>
    </div>
    <div class="col-md-4">
      <label for="validationCustom01" class="form-label">State Name </label>
      <input type="text" class="form-control" id="state" name="state" required>
      <div class="invalid-feedback">
        Please provide a valid State.
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Submit </button>
    </div>
  </form>
{% endblock %}