{% extends "base.html" %}
{% block title %} HOME {% endblock %}
{% block head %} 
<link rel="stylesheet" href="static/index.css">
  <link rel="stylesheet" href="static/index1.css">
{% endblock%}
{% block body %}
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="static/phone.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="static/phone1.avif" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="static/iphone.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <div class="col">
            <div class="card shadow-sm">
              <img src="static/phone4.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">This is a wider card...</p>
                <!-- Buttons & footer same -->
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group"> <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div> <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <div class="col">
            <div class="card shadow-sm">
              <img src="static/phone3.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">This is a wider card...</p>
                <!-- Buttons & footer same -->
              </div>
            </div>
          </div>

          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group"> <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div> <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <div class="col">
            <div class="card shadow-sm">
              <img src="static/phone2.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">This is a wider card...</p>
                <!-- Buttons & footer same -->
              </div>
            </div>
          </div>

          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group"> <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div> <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <div class="col">
            <div class="card shadow-sm">
              <img src="static/whatch.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">This is a wider card...</p>
                <!-- Buttons & footer same -->
              </div>
            </div>
          </div>

          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group"> <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div> <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <div class="col">
            <div class="card shadow-sm">
              <img src="static/whatch2.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">This is a wider card...</p>
                <!-- Buttons & footer same -->
              </div>
            </div>
          </div>

          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group"> <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div> <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <div class="col">
            <div class="card shadow-sm">
              <img src="static/img5.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">This is a wider card...</p>
                <!-- Buttons & footer same -->
              </div>
            </div>
          </div>

          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group"> <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div> <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <div class="col">
            <div class="card shadow-sm">
              <img src="static/phone4.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">This is a wider card...</p>
                <!-- Buttons & footer same -->
              </div>
            </div>
          </div>

          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group"> <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div> <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <div class="col">
            <div class="card shadow-sm">
              <img src="static/phone3.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">This is a wider card...</p>
                <!-- Buttons & footer same -->
              </div>
            </div>
          </div>

          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group"> <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div> <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <div class="col">
            <div class="card shadow-sm">
              <img src="static/phone2.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">This is a wider card...</p>
                <!-- Buttons & footer same -->
              </div>
            </div>
          </div>

          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group"> <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div> <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock%}